# Project  Linear Regression

### 1. Importing Libraries and Exploring data

1. Importando Bibliotecas

In [1]:
import pandas as pd
import numpy as np

2. Importando Datasets

In [6]:
diamonds=pd.read_csv('./diamonds.csv')
rick=pd.read_csv('./rick_diamonds.csv')

### 2. Exploring the data

In [7]:
diamonds.head()

   carat        cut color clarity  depth  table  price     x     y     z
0   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
1   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
2   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
3   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
4   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48

In [8]:
rick.head()

   carat        cut color clarity  depth  table     x     y     z
0   0.91  Very Good     H     SI2   63.4   57.0  6.10  6.18  3.89
1   0.38       Good     F     VS2   60.3   61.0  4.68  4.71  2.83
2   0.52      Ideal     H     VS2   61.8   56.0  5.19  5.16  3.20
3   1.10      Ideal     G     VS1   61.3   56.0  6.65  6.69  4.09
4   2.28      Ideal     G     SI2   61.6   57.0  8.44  8.37  5.18

In [9]:
diamonds.shape

(48940, 10)

In [32]:
rick.shape

(5000, 10)

### 3. Finding the mean price and creating a new column

In [21]:
diamonds['price'].mean()

3934.409644462607

In [23]:
diamonds['estimated_price']=diamonds['price'].mean()

In [24]:
diamonds.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,estimated_price
0,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,3934.409644
1,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,3934.409644
2,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,3934.409644
3,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,3934.409644
4,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48,3934.409644

### 4.  Check Score

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [27]:
mse=mean_squared_error(diamonds['price'],diamonds['estimated_price'])

In [28]:
np.sqrt(mse)

3989.293102899151

In [29]:
#Erro em dolares = 3989,29

### 5. Setting price_predictedcolumn to rick's df

In [31]:
rick['price_predicted']=diamonds['estimated_price']

In [37]:
rick['price_predicted']=rick['price_predicted'].round(2)

In [38]:
rick.head()

,carat,cut,color,clarity,depth,table,x,y,z,price_predicted
0,0.91,Very Good,H,SI2,63.4,57.0,6.10,6.18,3.89,3934.41
1,0.38,Good,F,VS2,60.3,61.0,4.68,4.71,2.83,3934.41
2,0.52,Ideal,H,VS2,61.8,56.0,5.19,5.16,3.20,3934.41
3,1.10,Ideal,G,VS1,61.3,56.0,6.65,6.69,4.09,3934.41
4,2.28,Ideal,G,SI2,61.6,57.0,8.44,8.37,5.18,3934.41

### 6. Exporting data to CSV

In [40]:
rick.to_csv('rick_price_predicted.csv',index=False)