# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [3]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

In [4]:
data.shape

(68584, 7)

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [5]:
each_product=data.groupby(data['CustomerID'])[['ProductName']].count()
each_product

            ProductName
CustomerID
33                   63
200                  77
264                  65
356                  67
412                  73
...                 ...
97928                68
98069                70
98159                70
98185                82
98200                73

[1000 rows x 1 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [6]:
data2=data.pivot_table(index=["ProductName"], columns=['CustomerID'], values=['Quantity'])

In [7]:
data2=data2.fillna(0)

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [8]:
from scipy.spatial.distance import pdist, squareform
1/(1+squareform(pdist(data2, 'euclidean')))

array([[1.        , 0.00416384, 0.00424726, ..., 0.00427503, 0.0042366 ,
        0.00421945],
       [0.00416384, 1.        , 0.00418616, ..., 0.00431914, 0.0041351 ,
        0.00422024],
       [0.00424726, 0.00418616, 1.        , ..., 0.00420161, 0.00422576,
        0.00420485],
       ...,
       [0.00427503, 0.00431914, 0.00420161, ..., 1.        , 0.00403661,
        0.00417424],
       [0.0042366 , 0.0041351 , 0.00422576, ..., 0.00403661, 1.        ,
        0.00429113],
       [0.00421945, 0.00422024, 0.00420485, ..., 0.00417424, 0.00429113,
        1.        ]])

In [9]:
data2.columns

MultiIndex([('Quantity',    33),
            ('Quantity',   200),
            ('Quantity',   264),
            ('Quantity',   356),
            ('Quantity',   412),
            ('Quantity',   464),
            ('Quantity',   477),
            ('Quantity',   639),
            ('Quantity',   649),
            ('Quantity',   669),
            ...
            ('Quantity', 97697),
            ('Quantity', 97753),
            ('Quantity', 97769),
            ('Quantity', 97793),
            ('Quantity', 97900),
            ('Quantity', 97928),
            ('Quantity', 98069),
            ('Quantity', 98159),
            ('Quantity', 98185),
            ('Quantity', 98200)],
           names=[None, 'CustomerID'], length=1000)

In [10]:
proximidade=pd.DataFrame(1/(1+squareform(pdist(data2.T, 'euclidean'))),columns=data2.columns, index=data2.columns)

In [11]:
proximidade

                     Quantity                                          \
CustomerID              33        200       264       356       412
         CustomerID
Quantity 33          1.000000  0.085297  0.093953  0.091747  0.087410
         200         0.085297  1.000000  0.085638  0.085297  0.080070
         264         0.093953  0.085638  1.000000  0.088152  0.089301
         356         0.091747  0.085297  0.088152  1.000000  0.085983
         412         0.087410  0.080070  0.089301  0.085983  1.000000
...                       ...       ...       ...       ...       ...
         97928       0.005023  0.005032  0.005055  0.005036  0.005042
         98069       0.004880  0.004909  0.004894  0.004871  0.004876
         98159       0.005026  0.005042  0.005042  0.005042  0.005039
         98185       0.004549  0.004553  0.004566  0.004563  0.004568
         98200       0.004883  0.004879  0.004883  0.004886  0.004903

                                                                       ...  \
CustomerID              464       477       639       649       669    ...
         CustomerID                                                    ...
Quantity 33          0.089695  0.085297  0.088913  0.088152  0.089695  ...
         200         0.083020  0.084959  0.083651  0.085638  0.087047  ...
         264         0.087047  0.085638  0.086333  0.087047  0.087047  ...
         356         0.086688  0.085983  0.091325  0.085983  0.087410  ...
         412         0.085638  0.085638  0.089301  0.084959  0.087779  ...
...                       ...       ...       ...       ...       ...  ...
         97928       0.005042  0.005042  0.005039  0.005039  0.005033  ...
         98069       0.004877  0.004882  0.004880  0.004886  0.004886  ...
         98159       0.005039  0.005039  0.005033  0.005045  0.005036  ...
         98185       0.004556  0.004556  0.004563  0.004558  0.004547  ...
         98200       0.004897  0.004885  0.004883  0.004877  0.004895  ...

                                                                       \
CustomerID              97697     97753     97769     97793     97900
         CustomerID
Quantity 33          0.004809  0.005108  0.004996  0.005421  0.004920
         200         0.004825  0.005121  0.005014  0.005448  0.004925
         264         0.004822  0.005115  0.004996  0.005441  0.004932
         356         0.004814  0.005111  0.004999  0.005437  0.004920
         412         0.004808  0.005131  0.004996  0.005441  0.004925
...                       ...       ...       ...       ...       ...
         97928       0.003732  0.003945  0.003749  0.004045  0.003964
         98069       0.003638  0.003765  0.003716  0.003782  0.003888
         98159       0.003732  0.003984  0.003852  0.003888  0.003817
         98185       0.003469  0.003469  0.003653  0.003749  0.003565
         98200       0.003638  0.003732  0.003817  0.003817  0.003782


CustomerID              97928     98069     98159     98185     98200
         CustomerID
Quantity 33          0.005023  0.004880  0.005026  0.004549  0.004883
         200         0.005032  0.004909  0.005042  0.004553  0.004879
         264         0.005055  0.004894  0.005042  0.004566  0.004883
         356         0.005036  0.004871  0.005042  0.004563  0.004886
         412         0.005042  0.004876  0.005039  0.004568  0.004903
...                       ...       ...       ...       ...       ...
         97928       1.000000  0.003945  0.003945  0.003579  0.003608
         98069       0.003945  1.000000  0.003907  0.003608  0.003765
         98159       0.003945  0.003907  1.000000  0.003732  0.003732
         98185       0.003579  0.003608  0.003732  1.000000  0.003700
         98200       0.003608  0.003765  0.003732  0.003700  1.000000

[1000 rows x 1000 columns]

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [ ]:
#Customer - 264
#step3.loc[:,Customer].sort_values(ascending=False)[1:6]

In [12]:
proximidade.columns

MultiIndex([('Quantity',    33),
            ('Quantity',   200),
            ('Quantity',   264),
            ('Quantity',   356),
            ('Quantity',   412),
            ('Quantity',   464),
            ('Quantity',   477),
            ('Quantity',   639),
            ('Quantity',   649),
            ('Quantity',   669),
            ...
            ('Quantity', 97697),
            ('Quantity', 97753),
            ('Quantity', 97769),
            ('Quantity', 97793),
            ('Quantity', 97900),
            ('Quantity', 97928),
            ('Quantity', 98069),
            ('Quantity', 98159),
            ('Quantity', 98185),
            ('Quantity', 98200)],
           names=[None, 'CustomerID'], length=1000)

In [15]:
proximidade.loc[:,[('Quantity',33)]].sort_values(by=('Quantity',33)).tail(5)

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [16]:
mask= step1.loc[:,'CustomerID'].isin(first_5)

NameError: name 'step1' is not defined

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [ ]:
step6.groupby(by='ProductName').sum()['Quantity'].sort_values(ascending=False)
step6

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [ ]:
step7=pd.merge(step6,step2.loc[:,Customer], on'ProductName')
#step2.loc[:,list(first_5)+[33]]

In [17]:
step7.loc[:,33]==0
step7.loc[mask].index[0,5]

NameError: name 'step7' is not defined

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [22]:
def get_sugestions(custID):
    step5 = step1.loc[step1.loc[:,'CustomerID'].isin(top_5(step3,custID))]
    step6 = step5.groupby(by='ProductName').sum()['Quantity'].sort_values(ascending=False)
    step7 = pd.merge(step6,step2.loc[:,custID],on='ProductName')
    
    return list(step7.loc[step7.loc[:,custID]==0].index[0:5])

In [ ]:
recommendations = {}
IDs = data.CustomerID.unique()

In [ ]:
for idnum in tqdm(IDs):
    recommendations[idnum] = get_sugestions(idnum)

In [ ]:
step6=step5.groupby(by'ProductName').sum()['Quantity'].sort_values(ascending=False)
step7=pd.merge(step6,step2)

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [ ]:
step9=

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.